body{
  font-family: sans-serif;
  background-color: rgba(241, 241, 241, 0.5);
  font-size: 13px;
}
#login,#register{

  width: 320px;
  margin: auto;

}
.loginform{
  padding: 26px 24px 26px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  margin-left: 0;
  margin-top: 20px;
  border-radius: 5px;
}

.loginform input{
  width: 100%;
}
.loginform input[type="text"],
.loginform input[type="password"],
.loginform input[type="email"],
.loginform input[type="tel"]{
  background-color: #fbfbfb;
  padding: 3px;
  margin: 2px 6px 16px 0;
}
.button{
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #006799;
  height: 30px;
}

/* Admin Styles*/
#admin-menu-main{
  margin-top: 3px;
  width: 25%;
  background-color:#666;
  height: 100vh;
  float: left;
}
#admin-menu-main ul li{
  padding: 16px;
  border-bottom: 1px solid #3c506a;
  position: relative;
}

#admin-menu-main ul li {
  list-style: none;
}

#admin-menu-main ul li a {
  text-decoration: none;
  color: #fff;
}


.header{
  background-color: #666;
  height: 44px;
  color: #fff;
  text-align: center;
}

#main-content{
  margin-top: 3px;
  width:40%;
  float: left;
  margin-left: 20px;
  
}
#user-profile{
  margin-top: 3px;
  width: 25%;
  background-color:#666;
  height: 100vh;
  float:right;
  padding: 10px;
}
header{
  color: #fff;
  text-align: center;
}
.avatar{
  width: 100px;
  height: 100px;
  margin: auto;
  border-color: #006799;
  border-radius: 6px;
  border:3px;
  margin-top: 10px;

  background-color: white;
}

.avatar p{
  margin: auto;
}

.contentform input[type="text"],
.contentform input[type="password"],
.contentform input[type="email"],
.contentform input[type="tel"],
.contentform textarea{
  background-color: #fbfbfb;
  padding: 3px;
  margin: 2px 6px 16px 0;
}
.contentform input,textarea{
  width: 100%;
}

.contentform input[type="submit"]{
  width: 100px;
}

.contentform{
  padding: 26px 24px 26px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  /*background-color: #666;*/
  margin-left: 0;
  margin-top: 20px;
  border-radius: 5px;
}

#content td{
  text-align: center;
}